/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

nav {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 13px;

}

header img{
    /* border: 2px solid blue; */
    margin-top: 15px;
    margin-bottom: 20px;
}

/* .links{
    border: 2px solid green;
    display: flex;
    justify-content: space-evenly;
} */

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#teal{
    background-color:teal;
}

#gold{
    background-color:gold;
}

#cadetblue{
    background-color:cadetblue;
}

#coral{
    background-color:coral;
}

#crimson{
    background-color:crimson;
}

#forestgreen{
    background-color:forestgreen;
}

#darkorchid{
    background-color:darkorchid;
}

#hotpink{
    background-color:hotpink;
}

#indigo{
    background-color:indigo;
}

#dodgerblue{
    background-color:dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*styling that only applies to the About me page -->*/
#about-header img{
    /* border: 2px solid blue; */
    margin-top: 15px;
    margin-bottom: 0px;
}

.about-sect{
    border-bottom: 1px dashed black;
    padding:2.5%;
}

.all-content{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap; /*wrapped so that it would not run off the page*/
    padding: 2%;
    margin-top: 10px;
    justify-content: space-between;
}

.all-content div{
    width: 49%; /*each div had the width of the .all-content class so cut the width of each by 50% to fit 2 divs "mini sections" per row*/
}

.strategy{
    /* border: 2px solid green;   */
    border-bottom: 1px dashed black;
}

.how-we-work{
    /* border: 2px solid purple; */
    border-bottom: 1px dashed black;
} 

.places-we-work{
    /* border: 2px solid orange; */
    border-bottom: 1px dashed black;
}

.collaboration{
    /* border: 2px solid blue; */
    border-bottom: 1px dashed black;
}

button{
    font-size: 15px;
    background-color: white;
    padding: 2.5%;
    padding-left: 5%;;
    padding-right: 5%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.work{
    /* border: 2px solid purple; */
    margin-top: 10px;
    padding: 2%;
}